{% extends 'base.html.twig' %}

{% block title %}{{ course.name }} / StudyOn{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Название</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ course.description }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Уроки</h2>
    <ol>
        {% for lesson in course.lessons|sort((a, b) => a.number <=> b.number)%}
            <li><a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a></li>
        {% else %}
            <div>Список пуст!</div>
        {% endfor %}
    </ol>
    <hr>
    <a href="{{ path('app_course_index') }}">Вернуться к списку курсов</a>

    <a href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать курс</a>
    <a href="{{ path('app_lesson_new', {'course': course.id}) }}">Добавить урок</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
