{% extends 'base.html.twig' %}

{% block title %} Изменение / {{ lesson.name }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block actions %}
    <div class="d-flex">
        {{ include('lesson/_delete_form.html.twig') }}
        <a class="btn btn-info mx-1" href="{{ path('app_course_show', {'id': lesson.course.id}) }}">
            Вернуться к курсу
        </a>
    </div>
{% endblock %}

{% block body %}

    <div class="card my-2">
        <div class="card-header">
            Редактирование урока
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            {{ include('lesson/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
