{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block actions %}
    <div class="d-flex">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-primary mx-1 lesson-edit" href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать урок</a>
        {{ include('lesson/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

{% block body %}

    <div class="card my-2">
        <div class="card-header">
            <h3>
                <a href="{{ path('app_course_show', {'id': lesson.course.id }) }}">
                    {{ lesson.course.name }}
                </a>
                / {{ lesson.name }}
            </h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text">{{ lesson.content }}</p>
        </div>
    </div>
{% endblock %}
